/.idea/
/venv/
/lab1/analizator/table.txt
/lab1/analizator/test.txt
/integration/
/lab2/analizator/actions.txt
lab2/analizator/new_state.txt
lab2/analizator/synchronization.txt
lab3/__pycache__/
lab3/1_t/
lab3/lab3_teza/
lab4/__pycache__/
lab4/a.frisc


